_extensions/** linguist-vendored
docs/site_libs/** linguist-vendored
docs/** -linguist-documentation

*.css linguist-vendored
*.html linguist-detectable=true
*.js linguist-detectable=true
*.qmd linguist-language=R Markdown
*.qmd linguist-detectable=true
